@page
@model E_Migrant.App.Presentacion.Pages.CrudServicio.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.NombreServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.NombreServicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.FechaInicioOferta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.FechaInicioOferta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.FechaFinOferta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.FechaFinOferta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Servicio.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
